/* fonts  */
@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');
@import url(https://fonts.googleapis.com/css?family=Roboto);

body{
  padding: 0;
  margin: 0;
}
.all-page{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#inicio{
    background-image: url(https://www.thecricketclubofindia.com/images/banner_library.jpg);
    height: 180px;
    padding-top: 140px;
    justify-content: center;
    display: flex;
} 

#container{
	background: #00a563;
	text-align: center;
	height: 320px;
	width: 1078px;
	
}

.carrer{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Rasa', cursive;
}

.profileData{
    font-size: small;
}
.ip{
    padding: 0.3rem;
}

.socialNetwork{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: left;
    padding-top: 20px;
}

#redes{
    height: 30px;
    width: 30px;
}

.triangulo-equilatero-bottom-left {
    width: 0;
    height: 0;
    border-right: 70px solid transparent;
    border-top: 0px solid transparent;
    border-left: 80px solid #00a563;
    border-bottom: 350px solid #00a563;
}

.boton{
    width:30px;
    height:30px;
    background-color:#1a75d5;
    margin: 65px;
    padding:10px;
    border-radius: 60px;
    font-size:11px;
    line-height:32px;
    /* text-transform: uppercase; */
    float:left;
  }
  .boton:hover{
    opacity: 0.50;
    -moz-opacity: .50;
    filter:alpha (opacity=50);
  }
  .boton a{
    color:#fff;
    text-decoration:none;
    padding:5px 5px 5px 0;
  }

/* 	Product details  */
.profile-details {
	text-align: left;
	padding: 30px;
	height: 100%;
	float: left;
 }

/* 	Product Name */
#container .profile-details h1{
	font-family: 'Roboto', serif;
	font-size: 34px;
	color: #ffffff;
	margin: 0;
	
}

/* The most important information about of the profile */
#container .profile-details > p {
	font-family: 'Farsan', cursive;
	text-align: center;
	font-size: 20px;
	color: #ffffff;
	
}

/* profile image  */
.profile-image {
  background-image: url(https://s3.envato.com/files/228902365/syda_0225997.jpg);
	overflow: hidden;
	height: 100%;
	float: right;
	width: 50%;
}

#container img {width: 100%;height: 100%;}


.container2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* card  */
.blog-card {
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.6);
  background: white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 2px;
  width: 1078px;
  display: flex;
  justify-content: center;
}

.description {
  padding: 1rem;
  z-index: 1;
  text-align: center;
}

.buttons-cv{
  padding: 1rem;
  z-index: 1;
  text-align: center;
}

#button-cv{
  background-color:#00a563 ;
  color: #fff;
  height: 40px;
  width: 150px;
  border: none;
  margin-left: 10px;
}

.education{
  display: flex;
  margin-top: 50px;
  margin-left: 355px;
  /* justify-content: center; */
}

.skills{
  display: flex;
  margin-top: 150px;
  justify-content: center;
}
.experience{
  display: flex;
  margin-top: 60px;
  justify-content: center;
}
.title-seccion{
  color: darkslategray;
  font-family: 'itillium+Web', cursive;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

#sk-img img{
  margin-left: 150px;
  margin-top: 10px;
  box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.6);
  background: white;
  padding: 0.25rem;
}

#sk-img{
  display: flex;
  justify-content: center;
  height: 50px;
  width: 90px;
}

#sk-img-1 img{
  margin-left: 130px;
  margin-top: 10px;
  box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.6);
  background: white;
  padding: 0.25rem;
}

#sk-img-1{
  display: flex;
  justify-content: center;
  height: 50px;
  width: 90px;
}

#sk-img-2 img{
  margin-left: 20px;
  margin-top: 10px;
  box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.6);
  background: white;
  padding: 0.25rem;
}

#sk-img-2{
  display: flex;
  justify-content: center;
  height: 50px;
  width: 90px;
}

.the-cards{
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
#card{
  display: grid;
  grid-template-columns: repeat(0, 1fr);
  justify-content: left;
  width: 436px;
  height: 180px;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.6);
    
}

.line{
  border-right: 0px solid transparent;
  border-top: 0px solid transparent;
  border-left: 8px solid #0f6fd2;
  border-bottom: 0px solid #0f6fd2;

  margin-bottom: 65px;
}

#text{
  margin-left: 10px;
  margin-top:10px;
}

.line2{
  border-right: 0px solid transparent;
  border-top: 0px solid transparent;
  border-left: 8px solid #0f6fd2;
  border-bottom: 0px solid #0f6fd2;
}

#right{
  margin-top: 125px;
}

#toc{
  padding: 0;
  margin: 0;
}

.panel-skills{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  width: 1100px;
  height: 270px;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.6);
  background-color: #00a563;
}

.middle-seccion{
  justify-content: center;
  display: flex;
  margin-top: 200px;
  margin-bottom: 200px;
}

#profesional-skills{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#personal-skills{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#software-skills{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#title-all-skill{
  color: #fff;
  text-align: center;
}

#sk-progress{
  padding-right: 10px;
  font-size: 0.9rem;
}

#lines-progress{
  display: grid;
  grid-template-columns: repeat(0, 1fr);
  padding-top: 8px;
  text-align: left;
}

#pgb{
  width: 290px;
  height: 8px;
  border: 0;
  background: white;
}

progress::-webkit-progress-bar{
  background-color: #00a5638f;
}

progress::-webkit-progress-value{
  background-color: white;
}



.stepper{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 170px;
}

.stepper-container-i{
  background-color: #00a563;
  width: 50px;
  height: 50px;
  color: #ffffff;
  align-items: center;
  text-align: center;
  border-radius: 32px 32px;
}

.stepper-container-i:before{
  display: inline-block;
  content:"";
  border-top: .3rem solid #00a563;
  width: 80px;
  margin-left: 110px;
  transform: translateX(-11.5rem) translateY(1rem);
  
}

.stepper-container-i h3{
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-22px);
}


.stepper-container-d{
  background-color: #00a563;
  width: 50px;
  height: 50px;
  color: #ffffff;
  align-items: center;
  text-align: center;
  border-radius: 32px 32px;
}

.stepper-container-d:before{
  display: inline-block;
  content:"";
  border-top: .3rem solid #00a563;
  width: 78px;
  transform: translateX(3rem) translateY(1rem);
  
}

.stepper-vertical{
  width: 0;
  height: 0;
  border-right: 4px solid #00a563;
  border-bottom: 70px solid #00a563;
}

.stepper-container-d h3{
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-22px);
}

.container-education{
  margin-bottom: 210px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#container4{
  display: flex;
  flex-direction: column;
  margin-bottom: 170px;
}

#container3{
  display: flex;
  flex-direction: column;
}

.modal-contenido{
  background-color:aqua;
  width:300px;
  padding: 10px 20px;
  margin: 20% auto;
  position: relative;
}
.modal{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}
#miModal:target{
  opacity:1;
  pointer-events:auto;
}